table {
    border-collapse: collapse;
    width: 100%;
}

th {
    text-align: left;
    padding: 10px;
    background-color: #81d8e8;
    color: white;
}

td {
    text-align: left;
    padding: 10px;
}

tr:nth-child(even) {
    background-color: #d0c9c1
}
